body {
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
}    
    a.recipe{
        color: black;
        font-size: 28px;
        text-align: center;
    }
    
    .breakfast {
        background-color: greenyellow;
    }
    
    .noon {
        background-color: aqua;
    }
    
    .life {
        background-color: cornsilk;
    }
    
    img {
        width: 300px;
        height: 300px;
    }
    
    ul {
        background-color: gray;
    }
    
    ol {
        background-color: rgba(128, 128, 128, 0.613);
    }
    